/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
#videoContainer {
  width: 100%;
  position: relative;
}
#videoContainer video {
  width: 100%;
}
#videoContainer .videoControls {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  width: 95%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr auto;
  gap: 10px;
  justify-content: space-between;
  background-color: #0f1117;
  padding: 10px;
  left: 0;
  box-sizing: border-box;
}
#videoContainer .videoControls.showing {
  opacity: 1;
}
#videoContainer .videoControls .videoControls__play {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#videoContainer .videoControls .videoControls__play .videoControls__playBtn {
  margin: 0px 15px;
}
#videoContainer .videoControls .videoControls__play .videoControls__time {
  font-size: 12px;
}
#videoContainer .videoControls .videoControls__volume {
  display: flex;
  align-items: center;
}
#videoContainer .videoControls .videoControls__volume span {
  margin-left: 10px;
}
#videoContainer .videoControls .videoControls__volume span i {
  font-size: 20px;
}

.video__comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px 50px 0px 0px;
  margin-top: 20px;
}
.video__comments .video__comment {
  display: flex;
  align-items: center;
  width: 700px;
  height: 100px;
  padding: 10px;
  background-color: transparent;
  color: white;
  margin-bottom: 10px;
}

.video__comment ul {
  display: flex;
}

.video__comment i {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 10%;
}

.comment-text {
  display: block;
  justify-content: flex-start;
  width: 560px;
  word-wrap: break-word;
}

.comment-deleteBtn {
  width: 10%;
  justify-content: flex-end;
}

#commentForm {
  height: 140px;
}

#commentForm textarea {
  height: 60px;
}

body {
  background-color: darkslategrey;
  color: red;
}
