extends base.pug
include mixins/video

block content 
    h1 Welcome here you will see the trending Videos
    each potato in videos
        +video(potato)
    else
        div Sorry nothing found. 
    nav
        ul 
            li 
                a(href="/videos/upload") Upload Video
block script 
    script(src="/static/js/main.js")