doctype html 
html(lang="ko")
    include partials/head.pug
    body  
        header 
            h1=pageTitle
            nav
                ul 
                    li 
                        a(href="/videos/upload") Upload Video
                    li 
                        a(href="/") Home
                    li 
                        a(href="/search") Search
                    if loggedIn
                        li 
                            a(href="/users/logout") Logout
                        li 
                            a(href="/users/pro-file") #{loggedInUser.name}'s profile
                    else    
                        li 
                            a(href="/join") Join!
                        li 
                            a(href="/login") login!
        
        main
            block content
    include partials/footer.pug
    script(src="/static/js/main.js")
    //- 여기서는 서버상에서의 이름은 assets가 아닌 static으로 시작하므로(내용물이 assets인거지 url주소는 static으로 시작함)
    //- 해당 파일을 가져올 때 위와같이 쓴다.